@page
@model Presention.Areas.Admin.Pages.Accounts.ManageModel
@{
    ViewData["Title"] = "مدیریت مدیران";
}




<div class="row text-center mb-4 m-1">

    
    
        <div class=" col-12 col-sm m-1">
        <a class="btn btn-outline-success" asp-page="Account/AccountManagement">کاربران</a>
        <a class="btn btn-outline-success" asp-page="Role/RoleManagement">نقش ها</a>
        </div>
    
    
</div>