@page
@model Presention.Areas.Admin.Pages.LabelType.EditeLabelTypeModel
@{
}
@await Component.InvokeAsync("AdminHead");
<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <h3 class="mb-4 text-center">فرم ویرایش اطلاعات فایل زبرا</h3>
        <form method="post" enctype="multipart/form-data">
            <!-- فیلد نام -->
            <div class="mb-3">
                <label for="name" class="form-label">نام:</label>
                <input type="text" class="form-control" id="name" name="Name" placeholder="نام را وارد کنید" required value="@Model.LabelTypeView.Name">
            </div>

            <!-- فیلد توضیحات -->
            <div class="mb-3">
                <label for="description" class="form-label">توضیحات:</label>
                <textarea class="form-control" id="description" name="Description" rows="3" placeholder="توضیحات را وارد کنید">@Model.LabelTypeView.Description</textarea>
            </div>

            <!-- فیلد آپلود فایل -->
            <div class="mb-3">
                <label for="file" class="form-label">انتخاب فایل:</label>
                <input type="file" class="form-control" id="file" name="LabelURL">
            </div>

            <!-- سلکت لیست -->
            <div class="mb-3">
                <label for="selectList" class="form-label">سالن مورد نظر را انتخاب کنید:</label>
                <select asp-items="@(new SelectList(Model.HallSelectview,"ID","Name",@Model.LabelTypeView.HallID))" class="form-select" id="selectList" name="HallID">
                    <option value="0">نتخاب ...</option>
                </select>
            </div>
            <input type="hidden" value="@Model.LabelTypeView.ID" />

            <!-- دکمه ارسال -->
            <button type="submit" class="btn btn-success w-100">ویرایش اطلاعات</button>
        </form>
    </div>
</div>