


<div class="row text-center mb-4">
    <div class=" col-12 col-sm m-1">
        <a class="btn btn-outline-success" asp-page="/Hall/HallManegment">مدیریت سالن ها</a>
    </div>
    <div class=" col-12 col-sm m-1">
        <a class="btn btn-outline-success" asp-page="/Machine/MachineManegment">مدیریت ماشین ها</a>
    </div>
    <div class=" col-12 col-sm m-1">
        <a class="btn btn-outline-success" asp-page="/Label/InterwovenManagement">مدیریت همبافت ها</a>
    </div>
    <div class=" col-12 col-sm m-1">
        <a class="btn btn-outline-success " asp-page="/Accounts/AccountManagement">مدیریت مدیران</a>
    </div>
    <div class=" col-12 col-sm m-1">
        <a class="btn btn-outline-success" asp-page="/LabelType/LabelTypeManagement">مدیریت لیبل</a>
    </div>
</div>