@page
@model Presention.Areas.Admin.Pages.Accounts.Role.EditeRoleModel
@{
    ViewData["Title"] = "ویرایش نقش";
}
<form method="post">
    <div class="input-group mb-3" dir="ltr">
        <button class="btn btn-outline-success" type="submit" id="button-addon1">ویرایش</button>
        <input type="text" name="Name" class="form-control text-center" placeholder="لطفا نام نقش جدید را وارد کنید"  aria-label="Example text with button addon" aria-describedby="button-addon1" value="@Model.data.Name">
    </div>
</form>